body {
    margin:0;
    padding:0;
}
.container1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    

}
.logo {
    background-color: blue;
    color: white;
    text-align: center;
    height: 7vh;

}
.logo p {
    text-align: center;
    margin-top: 10px;
    margin-left: 10vw;
}
.middle {
    display: flex;
    height: 93vh;
    justify-content: center;
    

}
.left {
    background-color: black;
    color: white;
    
    width: 20vw;
    text-align: center;
    
}
.left p {
    margin-top: 45vh;
    
    
}
.right {
    background-color: coral;
    flex-grow: 1;
    text-align: center;
    
}
.button {
    border: 2px solid black;
    padding: 5px 60px;
    background-color: transparent;
    color: white;
    margin-top: 42vh;
    margin-left: -8vw;
    font-size: 3rem;
}
@media (max-width:730px) {
    .middle {
        flex-direction: column;
    }
    .right {
        order: 1;
        height: 85vh;
    }
    .button {
        margin-right: -8vw;

    }
    
    .left  {
        order: 2;
        height: 8vh;
        width: 100vw;
        

    }
    .left p {
        margin-top: 2vh;
        font-size: 170%;
        
    }
    
    .logo p {
        margin-top: 20px;
        font-size: 150%;
    }
}

